* {
  box-sizing: border-box;
}

.rectangle {
  display: flex;
  position: relative;
  width: 200px;
  height: 200px;
  border: 1px solid #ccc;
  align-items: center;
  justify-content: center;
}

.flex{
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

@media screen and (max-width: 580px) {
  .flex { 
    flex-direction: column;
  }
  .rectangle {
    width: 100%;
  }
}
