.rectangle {
  display: flex;
  position: relative;
  width: 200px;
  height: 200px;
  border: 1px solid #ccc;
  align-items: center;
  justify-content: center;
}
.container {
  margin-top: 25%;
  width: 1128px;
  margin-right: auto;
  margin-left: auto;
  display: grid;
  grid-template-columns: repeat(4, 25%);
  align-items: center;
  justify-content: center;
}
